<div>
  <h2 class="h2-title">#Comment</h2>
  <div *ngIf="langEng; else and">
    <ul class="ul-list">
      <li>JavaScript comments namba code la oru chinna message mathri.</li>
      <li>
        Namba purinjikuradhukaga aprm namake theva illadha part la run aagama
        veachikum
      </li>
    </ul>
  </div>
  <ng-template #and>
    <div>
      <ul class="ul-list">
        <li>
          JavaScript comments are like mini-messages you can write in your code.
        </li>
        <li>
          They help you explain what's going on or turn off parts you're not
          using yet.
        </li>
      </ul>
    </div>
  </ng-template>
  <div class="diagram-div">
    <img
      src="./assets/comment.svg"
      alt="comment-diagram"
      class="comment-img common-diagram"
    />
  </div>
</div>
