<div>
  <h2 class="h2-title">#Comment</h2>
  <div *ngIf="langEng; else and">
    <ul class="ul-list">
      <li>JavaScript comments namba code la oru chinna message mathri.</li>
      <li>
        Namba purinjikuradhukaga aprm namake theva illadha part la run aagama
        veachikum
      </li>
    </ul>
    <table class="table table-dark">
      <thead>
        <tr>
          <th>Single Line</th>
          <th>Multi Line</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Short comments one line ku aprm</td>
          <td>Longer ones nariya content irundha</td>
        </tr>
        <tr>
          <td><app-js-code [showCode]="'singleComment'"></app-js-code></td>
          <td><app-js-code [showCode]="'miltipleComments'"></app-js-code></td>
        </tr>
      </tbody>
    </table>
  </div>
  <ng-template #and>
    <div>
      <ul class="ul-list">
        <li>
          JavaScript comments are like mini-messages you can write in your code.
        </li>
        <li>
          They help you explain what's going on or turn off parts you're not
          using yet.
        </li>
      </ul>
      <table class="table table-dark">
        <thead>
          <tr>
            <th>Single Line</th>
            <th>Multi Line</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>short comments for one line and</td>
            <td>longer ones for when you have more to say.</td>
          </tr>
          <tr>
            <td><app-js-code [showCode]="'singleComment'"></app-js-code></td>
            <td><app-js-code [showCode]="'miltipleComments'"></app-js-code></td>
          </tr>
        </tbody>
      </table>
    </div>
  </ng-template>
</div>
