<div>
  <div>
    <h2 class="h2-title"># High level program</h2>
    <div class="ul-list" *ngIf="langEng; else hlp">
      <div class="diagram-div">
        <img
          src="./assets/adv-set-tn-01.svg"
          alt="comment-diagram"
          class="adv-set-01 common-diagram"
        />
      </div>
    </div>
    <ng-template #hlp>
      <div class="diagram-div">
        <img
          src="./assets/adv-set-en-01.svg"
          alt="comment-diagram"
          class="adv-set-tn-01 common-diagram"
        />
      </div>
    </ng-template>
  </div>
  <hr />

  <div>
    <h2 class="h2-title"># Low level language</h2>
    <div class="ul-list" *ngIf="langEng; else lll">
      <div class="diagram-div">
        <img
          src="./assets/adv-set-tn-02.svg"
          alt="comment-diagram"
          class="adv-set-tn-02 common-diagram"
        />
      </div>
    </div>
    <ng-template #lll>
      <div class="diagram-div">
        <img
          src="./assets/adv-set-en-02.svg"
          alt="comment-diagram"
          class="adv-set-tn-02 common-diagram"
        />
      </div>
    </ng-template>
  </div>
  <hr />

  <div>
    <h2 class="h2-title"># Computer processor</h2>
    <div class="ul-list" *ngIf="langEng; else cp">
      <div class="diagram-div">
        <img
          src="./assets/adv-set-tn-03.svg"
          alt="comment-diagram"
          class="adv-set-tn-03 common-diagram"
        />
      </div>
    </div>
    <ng-template #cp>
      <div class="diagram-div">
        <img
          src="./assets/adv-set-en-03.svg"
          alt="comment-diagram"
          class="adv-set-tn-03 common-diagram"
        />
      </div>
    </ng-template>
  </div>
  <hr />

  <div>
    <h2 class="h2-title"># Multi-Paradigm</h2>
    <div *ngIf="langEng; else mp">
      <p>
        Nala javascirpt code structure epdi oru code ah correct ah eludhanum nu
        solum. Oru project ku edha programming method and style use panalam nu
        solum.
      </p>
      <p>Three Popular Paradigms</p>
      <h3 class="h3-title">1. Procedural</h3>
      <p>
        First class functions lam javascript la variables ah pakum. Namba adha
        oru function la pass panikalam aprm adha oru function ah return
        vangikalam
      </p>
      <app-js-code [showCode]="'js-adv-intro01'"></app-js-code>
      <h3 class="h3-title">2. Object-oriented</h3>
      <h3 class="h3-title">3. Functional Programming</h3>
    </div>
    <ng-template #mp>
      <p>
        Structuring our code which will ultimately direct the coding style and
        technique in a project that uses a certain paradigm.
      </p>
      <p>Three Popular Paradigms</p>
      <h3 class="h3-title">1. Procedural</h3>
      <p>
        First class functions are simply treated as variables. We can pass them
        into other function and return them from functions.
      </p>
      <app-js-code [showCode]="'js-adv-intro01'"></app-js-code>
      <h3 class="h3-title">2. Object-oriented</h3>
      <h3 class="h3-title">3. Functional Programming</h3>
    </ng-template>
  </div>
  <hr />

  <div>
    <h2 class="h2-title"># Dynamic</h2>
    <ul class="ul-list" *ngIf="langEng; else dynamic">
      <li>Dynamic apdina automatic ah adhuvave change panikum</li>
      <li>Javascript la namba variable ku type asign pana matom</li>
    </ul>
    <ng-template #dynamic>
      <ul class="ul-list">
        <li>Dynamic actually means dynamically typed</li>
        <li>In js we don't assign data type to variables</li>
      </ul>
    </ng-template>
    <app-js-code [showCode]="'js-adv-intro02'"></app-js-code>
  </div>
  <hr />

  <div>
    <h2 class="h2-title">
      # Single-thread and Non-blocking event loop concurrency model
    </h2>
    <div *ngIf="langEng; else thread">
      <h3 class="h3-title">Concurrency Modal?</h3>
      <div class="diagram-div">
        <img
          src="./assets/adv-set-tn-04.svg"
          alt="comment-diagram"
          class="adv-set-tn-04 common-diagram"
        />
      </div>

      <h3 class="h3-title">Oru periya task run aana ena aagum?</h3>
      <ul class="ul-list">
        <li>
          Remote server la irundhu oru data featch pani edukurom idhu single
          thread ah block panidum
        </li>
        <li>Ana namaku apdi aaga kudadhu</li>
        <li>Namaku non-blocking ah code run aaganum → Event Loop</li>
      </ul>

      <h3 class="h3-title">Event Loop</h3>
      <p>
        Event Loop oru periya task eduthu adha background la execute panum adhu
        run aana aprm marupidium adha main thread la ye potudum complete aana
        aprm
      </p>
    </div>
    <ng-template #thread>
      <div>
        <h3 class="h3-title">Concurrency Modal?</h3>
        <div class="diagram-div">
          <img
            src="./assets/adv-set-en-04.svg"
            alt="comment-diagram"
            class="adv-set-tn-04 common-diagram"
          />
        </div>

        <h3 class="h3-title">What if there is a long-running task?</h3>
        <ul class="ul-list">
          <li>
            Fetching data from a remote server well, it sounds like that would
            block the single thread
          </li>
          <li>But of course we don't want that</li>
          <li>We want is so-called non-blocking behaviour → Event Loop</li>
        </ul>

        <h3 class="h3-title">Event Loop</h3>
        <p>
          The event loop takes long-running tasks executes them in the
          background and then puts them back in the main thread once they are
          finished.
        </p>
      </div>
    </ng-template>
  </div>
  <hr />

  <div>
    <h2 class="h2-title"># The Javascript engine and runtime</h2>
    <div *ngIf="langEng; else jsEngine">
      <div class="diagram-div">
        <img
          src="./assets/adv-set-tn-05.svg"
          alt="comment-diagram"
          class="adv-set-05 common-diagram"
        />
      </div>
    </div>
    <ng-template #jsEngine>
      <div class="diagram-div">
        <img
          src="./assets/adv-set-en-05.svg"
          alt="comment-diagram"
          class="adv-set-05 common-diagram"
        />
      </div>
    </ng-template>
  </div>
  <hr />

  <div>
    <h2 class="h2-title"># Scope and the scope chain</h2>
    <div *ngIf="langEng; else scopeChain">
      <p class="quote">
        Scope namba code la oru place anga dha variable la declare aagum.
      </p>
      <h3 class="h3-title">Scoping:</h3>
      <p>
        Namba program la iruka variables la epdi organise aprm access
        aagirukunradha solum
      </p>
      <h3 class="h3-title">Lexical Scoping:</h3>
      <p>
        Scoping epdi control aagumna namba code la functions and blocks la endha
        order la place panirukomo adhu veachi dha
      </p>
      <h3 class="h3-title">Three types of scopes:</h3>
      <ol>
        <li>Global</li>
        <li>Function & Local</li>
        <li>Block (ES6)</li>
      </ol>
      <h3 class="h3-title">Tips:</h3>
      <ul class="ul-list">
        <li>Var function scope</li>
        <li>ES5 verum global scope & function scope mattum dha irukum</li>
        <li>
          ES5 la variables var la decalare la irundha adhu verum function la dha
          focus panum blocks la illa
        </li>
      </ul>
    </div>
    <ng-template #scopeChain>
      <div>
        <p class="quote">
          Scope is the place in our code where variables are declared.
        </p>
        <h3 class="h3-title">Scoping:</h3>
        <p>How our program's variables are organised and accessed.</p>
        <h3 class="h3-title">Lexical Scoping:</h3>
        <p>
          Scoping is controlled by placement of functions and blocks in the
          code.
        </p>
        <h3 class="h3-title">Three types of scopes:</h3>
        <ol>
          <li>Global</li>
          <li>Function & Local</li>
          <li>Block (ES6)</li>
        </ol>
        <h3 class="h3-title">Tips:</h3>
        <ul class="ul-list">
          <li>Var is function scoped</li>
          <li>In ES5 we only have global scope & function scope</li>
          <li>
            ES5 variable declared with var only care about functions, but not
            about blocks
          </li>
        </ul>
      </div>
    </ng-template>
  </div>
  <hr />

  <h2 class="h2-title"># Variable lookup in scope chain</h2>
  <app-js-code [showCode]="'js-adv-intro06'"></app-js-code>
  <hr />
</div>
