<div>
  <h2 class="h2-title"># What is variable?</h2>
  <div *ngIf="langEng; else varOther">
    <ul class="ul-list">
      <li>Use camelCase.</li>
      <li>
        camelCase na endha variable la multiple words varudho adhu starting
        letter small la start aaganum next vara word starting letter capital la
        irukanum.
      </li>
      <li>
        Variable names lam verum letters, Underscore aprm dollar symbol la start
        aagalam
      </li>
      <li>Variable name number la start aaga kudadhu</li>
      <li>Js oda keywords use pana kudadhu</li>
    </ul>
    <hr />
    <h2 class="h2-title"># 3 ways of declaring variables</h2>
    <div class="diagram-div">
      <img
        src="./assets/js/variable-tn.svg"
        alt="comment-diagram"
        class="comment-img common-diagram"
      />
    </div>
  </div>
  <ng-template #varOther>
    <div>
      <ul class="ul-list">
        <li>Use camelCase.</li>
        <li>
          camelCase means whenever there is multiple words in a variable name,
          Write the first word with a lowercase and then all the next words with
          upper case.
        </li>
        <li>
          Variable names only contain Letters, Underscore, or the Dollar assign
        </li>
        <li>Cannot use variable name starts with a number.</li>
        <li>Cannot use JavaScript reserved keyword.</li>
      </ul>
    </div>
    <hr />
    <h2 class="h2-title"># 3 ways of declaring variables</h2>
    <div class="diagram-div">
      <img
        src="./assets/js/variable-en.svg"
        alt="comment-diagram"
        class="comment-img common-diagram"
      />
    </div>
  </ng-template>
  <hr />
  <h2 class="h2-title"># Rules</h2>
  <app-js-code [showCode]="'var-data01'"></app-js-code>
  <hr />
</div>
