<div>
  <h2 class="h2-title">#Statement & Expression</h2>
  <div *ngIf="langEng; else stateExp">
    <div class="diagram-div">
      <img
        src="./assets/StmptExpr-tn.svg"
        alt="comment-diagram"
        class="comment-img common-diagram"
      />
    </div>
  </div>
  <ng-template #stateExp>
    <div class="diagram-div">
      <img
        src="./assets/StmptExpr-en.svg"
        alt="comment-diagram"
        class="comment-img common-diagram"
      />
    </div>
  </ng-template>
</div>
