<div>
  <h2 class="h2-title"># Function</h2>
  <div *ngIf="langEng; else langOther">
    <p class="quote">
      Functions are fundamental building blocks in JavaScript. They allow you to
      encapsulate code into reusable blocks. Functions can take inputs
      (parameters), execute code, and return outputs (results).
    </p>
    <hr />
    <h3 class="h3-title"># Function Declaration:</h3>
    <ul class="ul-list">
      <li>
        Functions radhu oru piece of code namba adhu ethana time venalum reuse
        panikalam
      </li>
      <li>
        Variable la oru value store panalam ana oru function la namba oru line
        ah ye store panikalam
      </li>
      <li>
        Namba oru function ulla data va pass panikalam adhu andha data va return
        um panum
      </li>
      <li>
        Parameters lam andha function oda variables function ah call panumbodhu
        define aagum
      </li>
    </ul>
  </div>
  <ng-template #langOther>
    <div>
      <p class="quote">
        Functions are fundamental building blocks in JavaScript. They allow you
        to encapsulate code into reusable blocks. Functions can take inputs
        (parameters), execute code, and return outputs (results).
      </p>
      <hr />
      <h3 class="h3-title"># Function Declaration:</h3>
      <p>This is the most common way to define a function.</p>
      <div class="diagram-div">
        <img
          src="./assets/function.svg"
          alt="comment-diagram"
          class="function common-diagram"
        />
      </div>
      <hr />
      <h3 class="h3-title"># Function Expression:</h3>
      <p>
        Functions can also be defined as expressions and assigned to variables.
        This way of defining a function is known as a function expression.
      </p>
      <div class="diagram-div">
        <img
          src="./assets/function-expression.svg"
          alt="comment-diagram"
          class="function-expression common-diagram"
        />
      </div>
      <hr />
      <h3 class="h3-title"># Arrow Function:</h3>
      <p>
        Arrow functions provide a concise syntax for writing function
        expressions. They use the => syntax and are often used for short
        functions.
      </p>
      <div class="diagram-div">
        <img
          src="./assets/arrow-function.svg"
          alt="comment-diagram"
          class="arrow-function common-diagram"
        />
      </div>
      <hr />
      <h3 class="h3-title"># Calling a Function:</h3>
      <p>
        To execute a function, you call it by its name followed by parentheses,
        passing any required arguments.
      </p>
      <div class="diagram-div">
        <img
          src="./assets/function-calling.svg"
          alt="comment-diagram"
          class="function-calling common-diagram"
        />
      </div>
      <hr />
      <h3 class="h3-title"># Parameters and Arguments:</h3>
      <p>Parameters are placeholders for values that the function uses.</p>
      <p>
        Arguments are the actual values passed to the function when it is
        called.
      </p>
      <div class="diagram-div">
        <img
          src="./assets/function-param-arg.svg"
          alt="comment-diagram"
          class="function-param-arg common-diagram"
        />
      </div>
      <hr />
      <h3 class="h3-title"># Returning a Value:</h3>
      <p>
        A function can return a value using the return statement. If no return
        statement is used, the function returns undefined.
      </p>
      <div class="diagram-div">
        <img
          src="./assets/function-return.svg"
          alt="comment-diagram"
          class="function-return common-diagram"
        />
      </div>
      <hr />
      <h3 class="h3-title"># Function with Default Parameters:</h3>
      <p>You can provide default values for function parameters</p>
      <div class="diagram-div">
        <img
          src="./assets/default-parameter.svg"
          alt="comment-diagram"
          class="default-parameter common-diagram"
        />
      </div>
      <hr />
      <h3 class="h3-title"># Arrow Function with Implicit Return:</h3>
      <p>For concise functions, arrow functions can have an implicit return:</p>
      <div class="diagram-div">
        <img
          src="./assets/arrow-function-return.svg"
          alt="comment-diagram"
          class="arrow-function-return common-diagram"
        />
      </div>
      <hr />
      <h3 class="h3-title">Using Functions in Arrays and Objects</h3>
      <p>
        Functions can be stored in arrays or objects and passed as arguments to
        other functions:
      </p>
      <div class="diagram-div">
        <img
          src="./assets/function-array-object.svg"
          alt="comment-diagram"
          class="function-array-object common-diagram"
        />
      </div>
      <hr />
    </div>
  </ng-template>
  <hr />
</div>
