@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import "../node_modules/prismjs/themes/prism.css";
@import "../node_modules/prismjs/plugins/line-numbers/prism-line-numbers.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 1.6rem;
}

body {
  font-family: "Manrope", sans-serif !important;
  font-weight: 500 !important;
  letter-spacing: 0.1rem !important;
  background-color: black;
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

.mat-typography {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin-bottom: 0;
    font-family: "Manrope", sans-serif;
  }
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: inherit;
}

::-webkit-scrollbar-thumb {
  background: #4b4b4b;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

// Mat AutoComplete
.mat-mdc-option {
  min-height: 3.6rem !important;
  font-size: 1.4rem !important;
  padding-left: 0.8rem !important;
  padding-right: 0.8rem !important;
}

.mat-mdc-autocomplete-panel {
  padding: 0.4rem 0 !important;
  box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.062) !important;
  border-top: 0.1rem solid #474747;
  border-right: 0.1rem solid #474747;
  border-left: 0.1rem solid #474747;
  border-bottom: 0.1rem solid #474747;
  background-color: #202020 !important;
  color: white !important;
}

.mat-mdc-option.mdc-list-item {
  color: white !important;

  &:hover {
    background-color: #474747 !important;
  }
}

.cdk-global-overlay-wrapper,
.cdk-overlay-container {
  z-index: 9999 !important;
}

.modal-content {
  border: 2px solid rgb(96, 96, 96);
  background-color: black;
}

// PrismJs
.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: rgb(255, 92, 182) !important;
}

span.token.operator {
  background-color: transparent !important;
}

// Components
.quote {
  border-left: 0.2rem solid #ffd966;
  color: #ffd966;
  padding: 0.2rem 0.2rem 0.2rem 1rem;
  font-weight: 600;
  font-size: 1.2rem;
  margin-bottom: 2rem;
  letter-spacing: 0.1rem !important;
}

.ul-list {
  line-height: 2.4rem;

  li {
    font-size: 1.4rem;
  }
}

.h2-title {
  font-size: 1.6rem !important;
  font-weight: 600 !important;
  letter-spacing: 0.2rem !important;
  margin-bottom: 1.4rem !important;
  color: #ffd966;
}

.h3-title {
  font-size: 1.4rem !important;
  font-weight: 600 !important;
  letter-spacing: 0.2rem !important;
  margin-bottom: 1.2rem !important;
  color: #ffd966;
}

hr {
  margin: 2rem 0 !important;
}

// App Style
#app-header {
  width: 100%;
  background-color: black;
  border-bottom: 0.2rem solid rgb(54, 54, 54);
  height: 7rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.6rem;

  .set-01 {
    h1 {
      width: 10rem;
      font-size: 1.6rem !important;
      font-weight: 600 !important;
    }

    .logo {
      display: block;
    }

    .logoMob {
      display: none;
    }
  }

  .set-02 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.8rem;

    i {
      font-size: 2.6rem;
    }

    .active-link {
      color: #ffd966;
      font-weight: 600;
    }
  }

  .set-03 {
    width: 10rem;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    gap: 1rem;

    select {
      width: 100%;
      border: none;
      background-color: #2c2c2c;
      color: white;
      border-radius: 0.4rem;
      padding: 0.4rem;
      font-weight: 500;
      letter-spacing: 0.2rem;

      &:focus {
        outline: none;
      }
    }

    .search-icon {
      font-size: 2rem;
    }
  }
}

#app-body {
  display: grid;
  grid-template-columns: 22rem calc(100vw - 27.4rem);
  padding-left: 2rem;
  padding-top: 3rem;
  gap: 3.4rem;

  .component-box {
    border: 2px solid rgb(96, 96, 96);
    background-color: #1a1a1a;

    height: 60rem;
    overflow-y: scroll;
    padding: 1rem;
    border-radius: 0.6rem;

    small {
      display: block;
      margin-bottom: 1rem !important;
    }

    .components-list {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      gap: 2rem;

      a {
        width: 100%;
        padding: 0.8rem 1rem;
        border-radius: 0.6rem;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 1rem;
        font-size: 1.3rem !important;

        i {
          width: 20px;
          height: 20px;
          display: flex;
          align-items: center;
          justify-content: center;
          color: #ffd966;
          font-size: 1.8rem;
        }

        &:hover {
          background-color: #202020 !important;
        }
      }
    }
  }

  .set-02 {
    width: 100%;
    height: calc(100dvh - 10rem);
    overflow-y: scroll;
    padding-right: 2rem;

    .diagram-div {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 4rem 0;

      img {
        max-width: 65rem;
        width: 100%;
      }

      .comment-img {
        max-width: 58rem !important;
      }

      .array-whatIsArray {
        max-width: 38rem !important;
      }

      .array-length {
        max-width: 65rem !important;
      }

      .array-doDont {
        max-width: 45rem !important;
      }

      .array-push {
        max-width: 35rem !important;
      }

      .array-unshift {
        max-width: 35rem !important;
      }

      .array-pop {
        max-width: 35rem !important;
      }

      .array-shift {
        max-width: 35rem !important;
      }

      .prompt-basicUsage {
        max-width: 45rem !important;
      }

      .prompt-defaultValue {
        max-width: 45rem !important;
      }

      .versions-diagram {
        max-width: 65rem !important;
      }

      .stmpExpr-img {
        max-width: 70rem !important;
      }

      .if-diagram {
        max-width: 36rem !important;
      }

      .if-else-diagram {
        max-width: 36rem !important;
      }

      .else-if-diagram {
        max-width: 36rem !important;
      }

      .switchCase {
        max-width: 62rem !important;
      }

      .function {
        max-width: 48rem !important;
      }

      .function-expression {
        max-width: 46rem !important;
      }

      .arrow-function {
        max-width: 36rem !important;
      }

      .function-calling {
        max-width: 34rem !important;
      }

      .function-param-arg {
        max-width: 36rem !important;
      }

      .function-return {
        max-width: 34rem !important;
      }

      .default-parameter {
        max-width: 35rem !important;
      }

      .arrow-function-return {
        max-width: 26rem !important;
      }

      .function-array-object {
        max-width: 36rem !important;
      }
    }
  }
}

#app-search {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  padding: 0.4rem;

  i {
    color: white;
  }

  .filter-form01 {
    display: flex;
    align-items: center;
    gap: 1rem;

    input {
      padding: 0.8rem 1rem;
      background-color: #2c2c2c;
      border: none;
      color: white;
      border-radius: 6px;
      font-weight: 500;
    }

    .filter01 {
      width: 14rem;

      &:focus {
        outline: none;
      }
    }

    .filter02 {
      width: 100%;

      &:focus {
        outline: none;
      }
    }

    button {
      background-color: transparent;
      border: none;
    }

    .popup-search {
      font-size: 1.5rem;
    }

    .popup-close {
      font-size: 2rem;
    }
  }

  .filter-form02 {
    .block {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      margin-top: 0.8rem;

      p {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 500;
        padding: 0.8rem 1rem;
        border-radius: 4px;
        transition: all 0.2s;

        &:hover {
          background-color: #2c2c2c;
        }
      }

      .active {
        background-color: #2c2c2c;
      }
    }
  }

  .modal-content {
    background-color: #202020 !important;
    border: 1px solid #474747;

    i {
      color: white;
    }
  }
}

@media only screen and (max-width: 780px) {
  #app-header {
    .set-01 {
      h1 {
        width: 8rem !important;
      }

      .logo {
        display: none !important;
      }

      .logoMob {
        display: block !important;
        cursor: pointer;
      }
    }

    .set-02 {
      width: 13rem !important;
      align-items: center !important;
      justify-content: flex-start !important;
      overflow-x: scroll;
      padding: 0 0.6rem;
    }

    .set-03 {
      width: 8rem !important;
    }
  }

  #app-body {
    grid-template-columns: 100vw;
    padding-left: 0 !important;
    padding-top: 0 !important;
    gap: 0 !important;

    .set-01 {
      display: none;
    }

    .component-box {
      border: none;
      background-color: transparent;

      height: auto;
      overflow-y: auto;
      padding: 1rem;
      border-radius: 0.6rem;

      small {
        display: block;
        margin-bottom: 1rem !important;
      }
    }

    .set-02 {
      padding: 2rem !important;
    }
  }
}
