<section class="padding-top box01">
  <div class="topics-box">
    <small>Basics</small>
    <div class="topics-list mb-4">
      <a routerLink="JsIntroRoute">
        <i class="fa-solid fa-note-sticky"></i> Intro
      </a>
      <a routerLink="JsCommentsRoute">
        <i class="fa-solid fa-comments"></i> Comments
      </a>
      <a routerLink="JsVariablesRoute">
        <i class="fa-database fa-solid"></i> Variables
      </a>
      <a routerLink="JsOperatorsRoute">
        <i class="fa-equals fa-solid"></i> Operators
      </a>
      <a routerLink="JsTliteralsRoute">
        <i class="fa-link fa-solid"></i> Template Literals
      </a>
      <a routerLink="JsConversionRoute">
        <i class="fa-shuffle fa-solid"></i> Conv & Coerc
      </a>
      <a routerLink="JsTruthyfalsyRoute">
        <i class="fa-code-fork fa-solid"></i> Truthy & Falsy
      </a>
      <a routerLink="JsBooleanRoute">
        <i class="fa-network-wired fa-solid"></i> Boolean
      </a>
      <a routerLink="JsStatExpRoute">
        <i class="fa-file-signature fa-solid"></i> Stmt & Expr
      </a>
      <a routerLink="JsArrayRoute">
        <i class="fa-object-group fa-regular"></i> Array
      </a>
      <a routerLink="JsPromptRoute">
        <i class="fa-regular fa-window-maximize"></i> Prompt
      </a>
      <a routerLink="JsIfelseRoute">
        <i class="fa-solid fa-spell-check"></i> If else
      </a>
      <a routerLink="JsSwitchRoute">
        <i class="fa-list-check fa-solid"></i> Switch case
      </a>
      <a routerLink="JsFunctionsRoute">
        <i class="fa-box fa-solid"></i> Function
      </a>
      <a routerLink="JsProject01Route">
        <i class="fa-solid fa-bullseye"></i> Project
      </a>
    </div>

    <small>Advance</small>
    <div class="topics-list">
      <a routerLink="JsAdvIntroRoute">
        <i class="fa-solid fa-note-sticky"></i> Intro
      </a>
    </div>
  </div>
</section>
